<!DOCTYPE html>
<html>
<head>
    <title>Callback service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>The callback service</h1>
    <h2>Web form</h2>
    <form id="jsonForm">
        <label for="urlInput">My URL:</label>
        <input type="text" id="urlInput" name="urlInput" required>
        <input type="submit" value="Call me back">
    </form>

    <div>
        <h3>Response:</h3>
        <textarea id="responseTextarea" readonly style="width: 80%; height: 16em;"></textarea>
    </div>
    <hr/>
    <h2>Command-line</h2>
    <p>Alternatively you can do the same thing using the following command-line:</p>
    <pre>curl -X POST {{ endpoint_url }} -H 'Content-Type: application/json' -d '{"url":"http://your.application.com/hello"}'</pre>

    <script>
        $(document).ready(function() {
          $('#jsonForm').submit(function(event) {
            event.preventDefault();
            var urlValue = $('#urlInput').val();
            var jsonData = { "url": urlValue };

            $.ajax({
              url: '/endpoint',
              type: 'POST',
              data: JSON.stringify(jsonData),
              contentType: 'application/json',
              success: function(response) {
                // Handle success response here
                $('#responseTextarea').val(response.response);
                console.log(response);
              },
              error: function(error) {
                // Handle error response here
                $('#responseTextarea').val(error.response);
                console.log(error);
              }
            });
          });
        });
    </script>
</body>
</html>
